<template>
    <div class="container">
        <div class="col-md-10 col-xs-12">
            <div class="page-header">
                <h1>Sala de chat <small>{{ room.name }} </small></h1>
                <div class="alert alert-danger" role="alert" v-if="error">{{ error }}</div>
            </div>
            <div class="row" style="margin-bottom:10px;">
                <div class="col-md-12 col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-search"></span></span>
                        <input type="text" v-model="search" class="form-control" placeholder="Mensaje" aria-describedby="sizing-addon2">
                    </div>
                </div>
            </div>
            <div class="row" id="chatbox" style="background:#fff;height:400px;overflow-y: auto;">
                <div v-for="message in filteredMessages" class="row" style="margin:0 0 0 0;">
                    <div :class="message.sender.id == user.id ? 'talk-bubble tri-right pull-left left-top' : 'talk-bubble tri-right pull-right right-top'">
                        <div class="talktext">
                            <span v-html="$options.filters.linkify(message.message)"></span>
                            <div class="row">
                                <div class="col-md-12 col-xs-12">
                                    <span class="pull-right"><small>{{ message.sender.name == user.name ? 'Yo' : message.sender.name | ucfirst }} [{{ message.created_at}}]</small></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center" style="height:15px;">
                <span class="label label-info" v-if="writing">{{ userWriting.name }} esta escribiendo...</span>
            </div>
            <div class="row" style="margin-top:15px;">
                <div class="input-group">
                    <input type="text" class="form-control" v-model="message" @keydown="writingMessage" @keyup.enter="sendMessage" placeholder="Mensaje...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" @click="sendMessage"><span class="glyphicon glyphicon-comment"></span> Enviar</button>
                      </span>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-xs-12">
            <p><strong>Usuarios </strong><span class="badge">{{ users.length }}</span></p>
            <ul class="list-group">
                <li class="list-group-item" v-for="user in users"><span class="glyphicon glyphicon-user"></span> {{ user.name }}</li>
            </ul>
        </div>
    </div>
</template>
<style>
.talk-bubble {
    margin: 40px;
    display: inline-block;
    position: relative;
    height: auto;
    background-color: lightblue;
}
.border {
    border: 8px solid #666;
}
.round {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
}

.tri-right.border.left-top:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -40px;
    right: auto;
    top: -8px;
    bottom: auto;
    border: 32px solid;
    border-color: #666 transparent transparent transparent;
}
.tri-right.left-top:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -20px;
    right: auto;
    top: 0px;
    bottom: auto;
    border: 22px solid;
    border-color: lightblue transparent transparent transparent;
}
.tri-right.border.left-in:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -40px;
    right: auto;
    top: 30px;
    bottom: auto;
    border: 20px solid;
    border-color: #666 #666 transparent transparent;
}
.tri-right.left-in:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -20px;
    right: auto;
    top: 38px;
    bottom: auto;
    border: 12px solid;
    border-color: lightblue lightblue transparent transparent;
}
.tri-right.border.btm-left:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -8px;
    right: auto;
    top: auto;
    bottom: -40px;
    border: 32px solid;
    border-color: transparent transparent transparent #666;
}
.tri-right.btm-left:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 0px;
    right: auto;
    top: auto;
    bottom: -20px;
    border: 22px solid;
    border-color: transparent transparent transparent lightblue;
}
.tri-right.border.btm-left-in:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 30px;
    right: auto;
    top: auto;
    bottom: -40px;
    border: 20px solid;
    border-color: #666 transparent transparent #666;
}
.tri-right.btm-left-in:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 38px;
    right: auto;
    top: auto;
    bottom: -20px;
    border: 12px solid;
    border-color: lightblue transparent transparent lightblue;
}
.tri-right.border.btm-right-in:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: 30px;
    bottom: -40px;
    border: 20px solid;
    border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right-in:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: 38px;
    bottom: -20px;
    border: 12px solid;
    border-color: lightblue lightblue transparent transparent;
}
.tri-right.border.btm-right:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -8px;
    bottom: -40px;
    border: 20px solid;
    border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: 0px;
    bottom: -20px;
    border: 12px solid;
    border-color: lightblue lightblue transparent transparent;
}
.tri-right.border.right-in:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -40px;
    top: 30px;
    bottom: auto;
    border: 20px solid;
    border-color: #666 transparent transparent #666;
}
.tri-right.right-in:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -20px;
    top: 38px;
    bottom: auto;
    border: 12px solid;
    border-color: lightblue transparent transparent lightblue;
}
.tri-right.border.right-top:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -40px;
    top: -8px;
    bottom: auto;
    border: 32px solid;
    border-color: #666 transparent transparent transparent;
}
.tri-right.right-top:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -20px;
    top: 0px;
    bottom: auto;
    border: 20px solid;
    border-color: lightblue transparent transparent transparent;
}
.talktext {
    padding: 1em;
    text-align: left;
    word-break: break-all;
    line-height: 1.5em;
}
.talktext p {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}
</style>
<script>
    export default {
        props: [
            'room','user'
        ],

        data() {
            return {
                users: [],
                message: '',
                messages: [],
                writing: false,
                userWriting: {},
                error : null,
                search: ''
            }
        },

        mounted() {
            this.getMessages()

            Echo.join(`room.${this.room.id}`)
                .here(users => {
                    this.users = users
                })
                .joining(user => {
                    this.users.push(user)
                })
                .leaving(user => {
                    this.users = this.users.filter(u => u.id.toString() !== user.id.toString());
                })
                .listenForWhisper('writing', (e) => {
                    this.writing = true
                    this.userWriting = e.user

                    setTimeout(() => {
                        this.writing = false;
                        this.userWriting = {}
                    }, 1000);
                })
                .listenForWhisper('sendMessage', (e) => {
                    this.messages.push(e)

                    setTimeout(() => {
                        this.adjustScroll()
                    }, 100)
                })

                setTimeout(() => {
                    this.adjustScroll()
                }, 1000)
        },

        methods: {
            adjustScroll(){
                const el = document.getElementById('chatbox')
                el.scrollTop = el.scrollHeight;
            },

            writingMessage() {
                let channel = Echo.join(`room.${this.room.id}`);

                setTimeout(() => {
                    channel.whisper('writing', {
                        user: this.user
                    });
                }, 1000);
            },

            getMessages() {
                axios.get(`/messages/room/${this.room.id}`)
                .then(response => {
                    this.messages = response.data;
                })
                .catch(e => {
                    this.error = e.message
                })
            },

            sendMessage() {
                axios.post(`/messages/create`, {
                    message: this.message,
                    sender_id: this.user.id,
                    room_id: this.room.id
                })
                .then(response => {

                    Echo.join(`room.${this.room.id}`)
                        .whisper('sendMessage', response.data);

                    this.messages.push(response.data)
                    this.message = ''

                    setTimeout(() => {
                        this.adjustScroll()
                    }, 100)
                })
                .catch(e => {
                    this.error = e.message
                })
            }
        },
        computed: {
            filteredMessages: function () {
                let self = this

                return self.messages.filter((message) => {
                  return message.message.indexOf(self.search) !== -1
                })
            }
        }
    }
</script>
